@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = "";
}

<header style="font-family: sans-serif;">
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of <b style="color:#a92330;">portfolio</b> system.</p>
</header>